<!DOCTYPE html>
<html>
    <head>
        <title>Basic Blog - GAE Demo</title>
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/main_style.css"/>
    </head>
    <body>
      <div id="header">
        <h1>
            <a href="/blog">Blog</a>
        </h1>

          <div id="buttons">
            <form method="get" action="/newpost">
              <button type="submit">New Post</button>
            </form>
            <form method="get" action="/blog">
              <button type="submit">View Posts</button>
            </form>
          </div>
      </div>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

    </body>
</html>
